{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">About Us</h1>

    <div class="row">
        <div class="col-md-12">
            <p>
                At Fouts Bros Inc., we believe that the well-being of our employees is paramount. This app reflects our dedication to maintaining a safe working environment and our ongoing efforts to innovate and adapt in an ever-changing industry landscape.
            </p>
            <p>
                Our commitment to quality and dependability has established us as a trusted name in the industry. We take pride in delivering products that meet the highest standards and cater to the unique needs of our clients.
            </p>
            <p>
                To enhance our operations and ensure the safety of our employees, we have developed this application. Its primary purpose is to streamline the reporting and management of safety observations and actions within our organization. By providing a user-friendly platform, we aim to foster a culture of safety and continuous improvement, ensuring that our workforce remains protected and informed.
            </p>
            <p>
                Thank you for being a part of the Fouts Bros family. Together, we will continue to build a safer and more prosperous future.
            </p>
        </div>
    </div>
</div>
{% endblock %}
